@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Gochi Hand', cursive;
}

li{
 list-style: none;
}

body {
    background-color: #a39bd2;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #494a4b;
    text-align: center;
    font-size: 1.3rem;  
  }

.container{
    width: 100%;
    height: auto;
    min-height: 500px;
    max-width: 500px;
    min-width: 250px;
    background: #f1f5f8;
    background-image: linear-gradient(#bfc0c1 2.5%, transparent 0);
    background-size: 25px 25px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    padding: 1rem;
    position: relative;
}

.heading h1 span{
    background-color: #00ffc3b3;
    transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 40% 40% 60% 60%;
}

form{
    margin:20px 0;
}

.form-label{
    display: block;
}

#to-do{
    margin:10px 0 5px 0;
    border:none;
    border-bottom: dashed 3px #ea95e0;
    background-color: transparent;
    outline: none;
    width: 70%;
    padding: 0.7rem 0.7rem 0.1rem 0.7rem;
    font-size: 1rem;
}

#to-do:focus{
    border:3px solid #ea95e0;
}

form button{
    display: inline-block;
    background-color: #f1f5f8;
    transform: rotate(6deg);
    transform-origin: center;
    padding: 0.5rem 1.3rem;
    border: 2px solid hsl(198, 1%, 29%);
    box-shadow: 0 2px 0 hsl(198, 1%, 29%);
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border-radius:5px;
}

form button:active{
    transform: rotate(0);
}

ul{
    text-align: left;

}

li{
    word-wrap: break-word;
    margin-bottom: 12.5px;
    position: relative;
}

.checkbox{
    display: inline-block;
    position: relative;
    width: 17px;
    height: 17px;
    top:-30px;
    accent-color: #00ffc3b3;
    cursor: pointer;
}

.list-actions{
    position: absolute;
    top:-5px;
    right:0;
    text-align: right;
}

.list-btn{
    border: none;
    
    background-color: transparent;
    width:5%;
    min-width: 30px;
    background-size: cover;
    height:30px;
    transition:all 0.25s ease-in-out
}

.delete-btn{
    background-image: url("./images/delete.png");
    height:30px;
}

.edit-btn{
    background-image: url("./images/edit.png");
    height: 30px;
}


/*.list-btn img{
    width:100%;
    height:auto;
    object-fit: cover;
}*/

.list-btn:hover{
    transform: rotate(-10deg);
    cursor: pointer;
}



li textarea{
    word-wrap: break-word;
    border:none;
    outline:none;
    background-color: transparent;
    font-size: 1.3rem;
    resize: none;
    line-height: 25px;
   /* outline:none;*/
}

.checkbox:checked + textarea{
    text-decoration: line-through solid #00ffc3;
    color: #494a4bb4;
  }

.edit{
    border:1px solid #ea95e0 !important ;
}

.clear-all{
    position: absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
}
.clear-all button{
    border:2px dashed #ea95e0 !important;
    background-image: url("./images/delete.png");
    min-width: 40px;
    height: 40px;
}

.clear-all button:hover{
    transform:translateY(-5px);
}

@media (min-width: 700px){
    #to-do{
        max-th:20ch;
    }

    textarea{
        width:30ch;
    }
}
